Uncaught Error: Class 'Firebase\JWT\BeforeValidException

i was able to install JWT and get it running but everytime i have a value in nbf that is later then now it throws an error with following message.

`Fatal error: Uncaught Error: Class 'Firebase\JWT\BeforeValidException' not found in /var/www/html/security/JWT.php:118 Stack trace: #0 /var/www/html/security/token.php(62): Firebase\JWT\JWT::decode('eyJ0eXAiOiJKV1Q...', 'b\x8B\xABI\xE7+z\xD2\x9E', Array) #1 {main} thrown in /var/www/html/security/JWT.php on line 118`

Not sure if this is the expected behavior or am i missing something to get a error or condition which tells me the token is not valid. 

The exception says that the class `Firebase\JWT\BeforeValidException` is not defined. Are you using a dependency manager with autoloader (e.g. Composer), or manually includeing the exception classes?

If you try to decode a JWT token before the time specified in `nbf`, this library will throw an exception, of type `Firebase\JWT\BeforeValidException`, which is defined in [BeforeValidException.php](https://github.com/firebase/php-jwt/blob/master/src/BeforeValidException.php), which needs to be loaded (e.g. with `include` or `include_once`, the same way you would have done so for `JWT.php`).

In case it's not clear why this exception is getting thrown in the first place: The `nbf` (Not Before) claim is used to indicate a time before which the token is _not_ valid. Put another way, it's the time the token starts being valid. This can be used, for example, to generate a token that will only become valid at some point in the future.

From [RFC 7519, section 4.1.5](https://tools.ietf.org/html/rfc7519#section-4.1.5) on the "nbf" claim:
```
4.1.5.  "nbf" (Not Before) Claim

   The "nbf" (not before) claim identifies the time before which the JWT
   MUST NOT be accepted for processing.  The processing of the "nbf"
   claim requires that the current date/time MUST be after or equal to
   the not-before date/time listed in the "nbf" claim.  Implementers MAY
   provide for some small leeway, usually no more than a few minutes, to
   account for clock skew.  Its value MUST be a number containing a
   NumericDate value.  Use of this claim is OPTIONAL.
```