Consider clarifying which RFCs are supported

Hello!

In the README.md and composer.json the project somewhat vaguely states it's a JWT library that conforms to RFC 7519. To be precise, the project only supports JWT payloads inside a JWS structure (RFC 7515) and there is no support for it's encrypted sibling, the JWE (RFC 7516).

Explicitly stating this would be time saving, because it is not fully clear from the provided examples either. This should also save time from the maintainers, because inquiries such as https://github.com/firebase/php-jwt/issues/359 should go away.